.projects {
    background-color: #161616;
    color: white;
    h1 {
        font-size: 5em;
        padding-top: 0.8em;
        color: white;
    }

    .wrapper {
        padding-top: 3em;
        padding-bottom: 3em;
        display: grid;
        grid-template-columns: repeat(3, 22vw);
        grid-template-rows: repeat(auto-fit,22vw);
        justify-content: center;
        align-items: center;
        margin: 0;
        grid-row-gap: 2em;
        grid-column-gap: 2em;
        overflow: hidden;


        @media screen and (max-width: 600px) {
            grid-template-columns: 100%;

        }
    }
}