.home {
    height: 100vh;
    width: 100%;
    background-image: url('../../assets/myself.svg');
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    align-content: center;
    font-family: 'Amatic SC', cursive;

    .red {
        color: #B11025;
    }

    h1 {
        font-weight: 300;
        &.left-box {
            font-size: 10em;

            @media screen and (max-width: 600px) {
                margin: 0;
            }
            
        }

    }

    .right-box {

        h1 {
            margin-bottom: 0;
            font-size: 8em;
            margin-top: 0   ;
        }

        h2 {
            font-family: 'Quicksand', sans-serif;
            font-weight: 300;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 2em;
        }

        @media screen and (max-width: 600px) {
      
            padding-bottom:  400px;
        }

        grid-column: 3/3;
        text-align: center;
        @media screen and (max-width: 600px) {
            grid-column: 1;
        }
    }

    @media screen and (max-width: 600px) {

        background-position: bottom;
        height: 100%;
        
    }
}


