@import 'variables';

.home_class {
  height: 105vh;
  width: 100%;
  background-image: url('./../assets/myself.svg');
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: 'Amatic SC', cursive;
  @media screen and (min-width: 1024px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-position: center;
    height: 100vh;
  }
  .left-box {
    h1 {
      color: $primary-color;
      margin-top: 0;
      font-weight: 400;
      font-size: 6rem;
      @media screen and (min-width: 1024px) {
        font-size: 10rem;
      }
    }
    @media screen and (min-width: 1024px) {
      padding-left: 2rem;
    }
  }

  .right-box {
    // padding-bottom:  400px;
    h1 {
      margin-bottom: 0;
      font-size: 6rem;
      margin-top: 0;
      color: $primary-color;
      @media screen and (min-width: 1024px) {
        font-size: 8rem;
      }
    }
    h2 {
      font-family: 'Quicksand', sans-serif;
      font-weight: 300;
      margin-top: 0;
      margin-bottom: 0;
      font-size: 2em;
      text-align: center;
    }
    @media screen and (min-width: 1024px) {
      padding-right: 2rem;
    }
  }
}


