.history {
    padding-top: 5em;
    padding-bottom: 3em;
    height: 100%;
    width: 100%;
    color: #EFEFEF;
    background-color: #161616;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    .left-box {
        grid-column-start: 1;
        grid-column-end:3 ;
        padding: 20px;
        h1 {
            margin: 0;
            font-family: 'Amatic SC', cursive;
            font-size: 6em;
            font-weight: 300;
            text-align: center;
        
        }
        p{
            font-family: 'Quicksand', sans-serif;
            font-weight: 300;
            font-size: 1.1em;
            text-align: center;
        }
        h2{
            font-family: 'Amatic SC', cursive;
            font-size: 3em;
            font-weight: 300;
            text-align: center;
            color: #B11025;            
        }
    }
    .right-box{
        img{
            width:250px;
            height:250px;
            border-radius:150px;
        }
        
    }


}