.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
    .flip-card {
        background-color: transparent;
        width: 22vw;
        height: 22vw;
        perspective: 1000px;
        margin: 0;
        @media screen and (max-width: 600px) {
            width: 90vw;
            height: 90vw;
        }
        



        .flip-card-inner {
            position: relative;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: transform 0.6s;
            transform-style: preserve-3d;
            border-radius: 400px;
            display: flex;
            justify-content: center;
            align-items: center;

            .flip-card-front,
            .flip-card-back {
                position: absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                border-radius: 400px;
                border-style: solid;
                border-width: 2px;
                border-color: #B11025;
                color: #B11025;

                ;
            }

            .flip-card-front {
                background-color: transparent;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: 'Amatic SC', cursive;
                color:white;
                h2{
                    font-size: 3em;
                    font-weight: 300;
                }
              

            }

            .flip-card-back {
                display: grid;
                justify-content: center;
                align-items: center;
                background-color: transparent;
                transform: rotateY(180deg);
                font-size: 3em;
                color: #B11025;
                font-family: 'Amatic SC', cursive;
                word-spacing: 0.2em;
                grid-template-rows: 50% 50%;
                grid-template-columns: 100%;
                p{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 0.8em;
                    padding-left: 1em;
                    padding-right: 1em;
                    margin-top: 0;
                    margin-bottom: 0;
                    padding-top: 2em;
                    height: 80%;
                }
                a{
                    // background-color: aqua;
                    color: white;
                    text-decoration: none;
                    padding:0.2em;
                    margin: 0.2em;
                    -webkit-transform: scale(1);
                    transform: scale(1);
                    -webkit-transition: .3s ease-in-out;
                    transition: .3s ease-in-out;
                    &:hover {
                        color: rgb(223, 17, 45);
                        -webkit-transform: scale(1.1);
                        transform: scale(1.1);
                    }
                }
                @media screen and (max-width: 600px) {
                    word-spacing: 0em;
                    font-size: 2em;


                }


            }
        }

        &:hover .flip-card-inner {
            transform: rotateY(180deg);

        }
    }
}