
@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Quicksand&display=swap');

.navbar {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 600;
    height: 5rem;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    li {
        float: left;

        a {
            display: block;
            color: #B11025;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 1.2rem;
            &:hover {
                color: rgb(200, 104, 113);
            }
            @media screen and (max-width: 600px) {
                font-size: 1;
            }
        }
    }
}